name: OUIGO Price Tracker

on:
  schedule:
    - cron: "0 6 * * *"   # tous les jours 06:00
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python ouigo_prices.py

      - name: Commit CSV
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'actions@github.com'
          git add prices.csv
          git commit -m "Update prices" || echo "No changes"
          git push
